html
.container-fluid
 {
    position: fixed;
    /*overflow: hidden;*/
    top: 0pc;
    width: 100%;
    padding: 0 0 50 0px;
}

.first-content {
    background-image: url(lib1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    background-attachment: scroll;
    width: 100%;
    height: 600px;
    /*opacity: 0.5;*/
    padding:40px;
    top: 0pc;
}


.nav-item:hover {
    background-color: rgb(231, 227, 227);
}

.slideshow {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    font-size: 50;

}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

/* Style each of the sides 
with a fixed width and height */
.slide {
    float: left;
    height: 510px;
    width: 728px;
}

/* Add animation to the slides */
.slide-wrapper {
    /* Calculate the total width on the
basis of number of slides */
    width: calc(728px * 4);

    /* Specify the animation with the
duration and speed */
    animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */
.slide:nth-child(1) {
    background-image: url(H1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}

.slide:nth-child(2) {
    background-image: url(h7.jpeg);
    background-position: center;
    background-size: cover;
    opacity: .8;
}

.slide:nth-child(3) {
    background-image: url(h6.jpg);
}

.slide:nth-child(4) {
    background-image: url(h4.jpg);
    background-size: cover;
}

/* Define the animation 
for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for 
each of the slides */
    10% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}

.top {
    background-image: url(top1.jpg);
    image-resolution: 2;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: rgb(24, 23, 23);
    color: black;
}

/* Style the back side */
.flip-box-back {
    background-color: rgb(217, 236, 145);
    color: white;
    transform: rotateY(180deg);
}

.first_content_gridbox {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    margin: 20px;
    padding-left: 85px;
    row-gap: 50px;
}

.btn btn-danger {
    align-items: center;
}

.first_content_gridbox {
    display: grid;


}

.back {
    background-color: bisque
}
.footer1
{
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(238, 163, 71);
border-radius: 40px;
color: rgb(250, 249, 249);
margin-top: 40px;
padding: 10px;
display: flex;
flex-direction: row;
}
.box1
{
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
}
.box2
{
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.contactbox
{
background: rgb(250, 250, 250);
display: flex;
flex-grow: 1;
color: black;
flex-direction: column;
justify-content: center;
align-items: left;
padding: 30px;
margin: 20px;
border-radius: 30px;
}
.grid
{
display: flex;
flex-direction: row;
}
.footer2
{
padding: 30px;
}
